<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="1">
                    <label for="tarefa-1">completar o cursor de javascript</label>
                </div>
                <button>
                    <img src="/imagens/x.png" alt="icone de x para excluir uma tarefa">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="1">
                    <label for="tarefa-1">completar o cursor de javascript</label>
                </div>
                <button>
                    <img src="/imagens/x.png" alt="icone de x para excluir uma tarefa">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <div>
                    <input type="radio" id="1">
                    <label for="tarefa-1">completar o cursor de javascript</label>
                </div>
                <button>
                    <img src="/imagens/x.png" alt="icone de x para excluir uma tarefa">
                </button>
            </form>
        </div>
        <div class="informacoes">
            <p>5 tarefa ativa</p>
            <a href="">Limpar Tarefa</a>
        </div>
    </section>

    <section class="botoes">
        <a href="">todas</a>
        <a href="">ativas</a>
        <a href="">completas</a>
    </section>
</main>