<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <input type="radio" id="1">
                <label for="tarefa-1">completar o cursor de javascript</label>
                <button>
                    <img src="/imagens/x.png" alt="icone de x para excluir uma tarefa">
                </button>
            </form>
        </div>
    </section>
</main>